<%- include("partials/header.ejs") %>


<section>
    <h1>Share Your Darkest Secrets!</h1>
    <p>
      Post your darkest secret with a passcode so NOBODY CAN SEE IT!
    </p>
</section>

<section>
    <form action="/submit" method="POST">
        <label form="title">Title: </label>
        <input type="text" name="title" required>
        <label form="password">Password: </label>
        <input type="text" name="password" autocomplete="off" required>
        <br/>
        <label form="content">Content</label>
        <textarea class="content" type="text" name="content" required></textarea>
        <input type="submit" value="Post">
    
    </form>
</section>

<section>
    <h2>Darkest Secret posts</h2>
    
    <ul>   
        <% if(locals.posts){ %>
            <% posts.forEach((post)=>{ %>
                <li><%-  post.htmlContent %></li>
            <% }) %>
        <% }else{ %>
            <li>NOT HI</li>
        <% } %>
        
    </ul>
</section>



    </body>
</html>
